/* General */
body {
    animation-name: bg-anim;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding: 0px;
    margin: 10px;
}

h1 {
    color: white;
    font-family: Recursive;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    transition: width .7s ease, background-color .7s ease;
}
a:hover::after {
    width: 100%;
    background: white;
}

button {
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: Alata;
    font-size: 5vmin;
}

.top {
    display: inline-block;
    cursor: pointer;
}

.logo {
    margin-top: 0;
    font-family: Acme;
    font-size: 45px;
}

.top-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0px;
    font-size: 45px;
}

.content {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Buttons */
.glow {
    background-color: transparent;
    border: 0px solid rgb(0, 0, 0);
    box-shadow: 0 0 60px 50px rgb(23, 176, 187) inset;
    transition: all 300ms;
    height: fit-content;
    padding: 20px;
    margin: 20px;
}

.glow:hover {
    box-shadow: 0 0 10px 0 rgb(24, 174, 211) inset, 0 0 15px 0 rgb(0, 225, 255);
}

/* My projects */
.project {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border: 1px solid white;
    display: inline-block;
}

.project-category {
    font-size: 40px;
    margin-bottom: 10px;
}

.top-project {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid white;
    display: inline-block;
}

.project-top {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.project-icon {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

.project-title {
    color: white;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: 0px;
    font-family: Alata;
}

.project-description {
    color: #dfdfdf;
    font-family: Quicksand;
    font-size: 20px;
}

/* About Me */
.avatar-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
}

.avatar {
    width: 20vmin;
    height: 20vmin;
    border: 1px solid white;
}

.avatar-descriptors-container {
    margin-left: 20px;
}

.avatar-descriptor {
    font-size: 4vmin;
}

.socials-container {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.socials-icon {
    width: 10vmin;
    height: 10vmin;
    margin-right: 10px;
}

.socials-text {
    color: white;
    font-size: 25px;
}

/* Animations */
@keyframes bg-anim {
    0% { background: rgb(10, 39, 43); }

    100% { background: rgb(19, 54, 66); }
}
