@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 199 0% 100%;
    --foreground: 199 0% 10%;
    --card: 199 0% 100%;
    --card-foreground: 199 0% 15%;
    --popover: 199 0% 100%;
    --popover-foreground: 199 95% 10%;
    --primary: 199 0% 20%;
    --primary-foreground: 0 0% 100%;
    --secondary: 199 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 161 10% 95%;
    --muted-foreground: 199 0% 40%;
    --accent: 161 10% 90%;
    --accent-foreground: 199 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 199 0% 100%;
    --border: 255 0% 90%;
    --input: 255 0% 80%;
    --ring: 199 0% 0%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 255 10% 3%;
    --foreground: 240 0% 90%;
    --card: 255 0% 3%;
    --card-foreground: 240 0% 90%;
    --popover: 240 10% 5%;
    --popover-foreground: 240 0% 90%;
    --primary: 240 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 240 10% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 202 10% 15%;
    --muted-foreground: 240 0% 60%;
    --accent: 202 10% 15%;
    --accent-foreground: 240 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 240 0% 90%;
    --border: 255 0% 12%;
    --input: 255 0% 20%;
    --ring: 240 0% 100%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: underline;
}
