/* General */
body {
    padding: 0;
    margin: 0;
    transition: 500ms background;
}

p {
    transition: 500ms all;
    font-family: Quicksand;
}

h1 {
    transition: 500ms all;
    font-family: Quicksand;
}

hr {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    cursor: pointer;
    color: rgb(255, 116, 116);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    transition: width 0.7s ease, background-color 0.7s ease;
}

a:hover::after {
    width: 100%;
    background: rgb(255, 86, 86);
}

button {
    cursor: pointer;
    color: #ff1d4e;
    font-family: Quicksand;
    font-size: 45px;
    transition: 0.4s all;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ffd3d3;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 125, 125);
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 101, 101);
}

@media screen and (max-width: 800px) {
    hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
