html {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Inter, sans-serif;
}

hr {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}
