/* General */
body {
    background-color: #ff1d4e;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    font-family: Quicksand;
}

a {
    color: white;
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after {
    content: '';
    display: block;
    height: 3px;
    width: 0px;
    transition: width 0.7s ease, background-color 0.7s ease;
}

a:hover::after {
    width: 100%;
    background: white;
}

button {
    background: white;
    border: 7px solid white;
    box-shadow: 0 0 5px white;
    cursor: pointer;
    color: #ff1d4e;
    font-family: Quicksand;
    font-size: 45px;
    transition: 0.4s all;
    margin-left: 10px;
}

button:hover {
    box-shadow: 0 0 15px white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1a5466;
}

::-webkit-scrollbar-thumb {
    background: rgb(43, 99, 107);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(32, 127, 138);
}

/* General */
.center-container {
    text-align: center;
    justify-content: center;
}

/* Index */

@media screen and (max-width: 600px), (max-height: 500px) {
    button {
        font-size: 35px;
    }
}
