/* General */
html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    transition: 350ms background;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

hr {
    width: 40%;
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    cursor: pointer;
    color: rgb(255, 116, 116);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0px;
    transition: width 0.7s ease, background-color 0.7s ease;
}

a:hover::after {
    width: 100%;
    background: rgb(255, 86, 86);
}

button {
    cursor: pointer;
    color: #ff1d4e;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 45px;
    transition: 0.4s all;
    margin-left: 10px;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgb(179, 179, 179);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(158, 158, 158);
}

@media screen and (max-width: 800px) {
    hr {
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
